p{
    font-size: 35px;
    text-align: center;
    color: #088A08;
    font-weight: bold;
}

.negsub{
    font-weight: bold;
    text-decoration: underline;
}

.informacionbasica{
    background-color: #F7BE81;
}
.nacionalidad{
    background-color: #00FF80;
}

.estudios{
    background-color: #F5A9D0;
}

.idiomas{
    background-color: #2ECCFA;
}

.final{
    background-color: #D8D8D8;
}

.lebelsIB{
    color: #000000;
    font-style: oblique;
}
