table,h1 {
  text-align: center;
}
#Subíndice1 {
  color: black;
}
#Subíndice2 {
  color: black;
}
#Subíndice3 {
  color: black;
}
#Subíndice4 {
  color: black;
}
#Subíndice5 {
  color: black;
}
#Subíndice6 {
  color: black;
}
#Subíndice7 {
  color: black;
}
#Subíndice8 {
  color: black;
}
#Subíndice9 {
  color: black;
}
#Subíndice10 {
  color: black;
}
#Subíndice1:hover {
  background:yellow;
}
#Subíndice2:hover {
  background:yellow;
}
#Subíndice3:hover {
  background:yellow;
}
#Subíndice4:hover {
  background:yellow;
}
#Subíndice5:hover {
  background:yellow;
}
#Subíndice6:hover {
  background:yellow;
}
#Subíndice7:hover {
  background:yellow;
}
#Subíndice8:hover {
  background:yellow;
}
#Subíndice9:hover {
  background:yellow;
}
#Subíndice10:hover {
  background:yellow;
}
